
.modal-search {
  .modal-body {
    padding: 0 !important;
  }
  .panel-default {
    border: none !important;
  }
  .panel {
    margin-bottom: 0 !important;
  }
  .modal-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}